body {
    background-image: url(../assets/images/pexels-pixabay-206359.jpg);
    backdrop-filter: blur(5px);
}
.container {
    border-radius: 10px; 
    opacity: 1;
    background-color: #ffffff;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 521px;
    height: 574px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}
form {
    margin-top: 30px;
}
.login-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-btn a {
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    
}
.container:hover{
    opacity: 0.5;
}